<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doex.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity
            android:name="com.doex.demo.GuiderActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.FragmentInstance" >
        </activity>
        <activity android:name="com.doex.demo.FragmentPager" >
        </activity>
        <activity android:name="com.doex.demo.guide.GuidePager" >
        </activity>
        <activity android:name="com.doex.demo.activity.MenuAct" >
        </activity>
        <activity android:name="com.doex.demo.activity.IntentActivity" >
        </activity>
        <activity android:name="com.doex.demo.chart.ChartActivity" >
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity android:name="com.doex.demo.phone.ContactActivity" />
        <activity
            android:name="com.doex.demo.animation.AnimationActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".DoexService"
            android:exported="false" >
        </service>

        <receiver android:name="com.doex.demo.phone.PhoneCallStateReciver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>